.main {
  width: 400px !important;
}

.spinner {
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

.icons {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.edit {
    background-image: url('../../img/edit-2.svg');
  }
  
  &.delete {
    background-image: url('../../img/x-circle.svg');
  }
}

.form-check-input {
  display: none;
  
  &:checked {
    background-color: black;
    border-color: black;
  }
}

.custom {
  cursor: pointer;
  border: 3px solid black;
  display: block;
}
