.main {
  max-width: 500px !important;
  overflow: hidden;
  box-sizing: border-box !important;
}

.row {
  border-radius: 5px;
  transition: ease 0.3s;

  &:hover {
    transform: translate(-6px, -6px);
    transition: ease 0.3s;
    background-color: black;

    .name {
      transition: ease;
      color: white;
    }

    .feather {
      transition: ease;
      stroke: white;
    }

    .edit {
      transition: ease;
      background-image: url('../../img/edit-2-white.svg');
    }
    
    .delete {
      transition: ease;
      background-image: url('../../img/x-circle-white.svg');
    }

    .custom {
      transition: ease;
      border-color: white;
      background-color: black;
    }
  }
}

.spinner {
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

.icons {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &.edit {
    background-image: url('../../img/edit-2.svg');
  }

  &.delete {
    background-image: url('../../img/x-circle.svg');
  }

  &.close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
}

.form-check-input {
  display: none;
  
  &:checked {
    background-color: black;
    border-color: black;
  }
}

.custom {
  cursor: pointer;
  border: 3px solid black;
  display: block;

  &:focus {
    box-shadow: none;
  }
}

.done {
  .form-check-label {
    text-decoration: line-through;
  }
}

.custom-input {
  &:focus,
  &:active {
    box-shadow: 4px 4px 0px black ;
  }
}

.btn {
  transition: ease 0.2s;
  
  &:hover {
    transform: translate(-3px, -3px);
    transition: ease 0.2s;
  }
}